@{
    ViewData["Title"] = "Associados";
}
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Associados" asp-action="CriarAssociado">Adicionar novo associado</a>
    </div>
    <br/>
    <h1 class="display-4">Nossos Associados</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome(Apelido)</th>
                    <th scope="col">Posição</th>
                    <th scope="col">Tempo de Associação</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Elton</td>
                    <td>ATA</td>
                    <td>5 anos</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary">Editar</a>
                            <a role="button" class="btn btn-danger">Apagar</a>
                        </div>

                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Maria</td>
                    <td>MEI/ATA</td>
                    <td>8 anos</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary">Editar</a>
                            <a role="button" class="btn btn-danger">Apagar</a>
                        </div>

                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Ygor</td>
                    <td>ZAG</td>
                    <td>10 anos</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary">Editar</a>
                            <a role="button" class="btn btn-danger">Apagar</a>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>

</div>

